<div class="about-container" #aboutContainer> <!-- Added #aboutContainer reference -->
  <h2 class="about-heading">About Me</h2>
  <div class="about-content">
    <div class="about-photo">
      <img src="assets/images/myPic.png" class="photo" />
    </div>
    <div class="about-description">
      <p class="about-paragraph">
        I am a passionate Full Stack Developer with experience in building dynamic web applications.
        My skills include Angular, Node.js, and a variety of other technologies. I love creating
        user-friendly interfaces and working on challenging projects that make a difference.
      </p>
    </div>
  </div>
</div>

<app-work></app-work>

