<div class="contact-container">
    <h1 class="contact-heading">Contact Me</h1>
    
    <div class="contact-content">
      <div class="contact-description">
    
        
        <div class="contact-icons">
            <a href="mailto:ranjanabk02@gmail.com" target="_blank">
              <fa-icon [icon]="faEnvelope" class="contact-icon fa-envelope"></fa-icon>
            </a>
            <a href="https://www.instagram.com/ranju_1010/" target="_blank">
              <fa-icon [icon]="faInstagram" class="contact-icon fa-instagram"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/ranjana-bk-927987227" target="_blank">
              <fa-icon [icon]="faLinkedin" class="contact-icon fa-linkedin"></fa-icon>
            </a>
            <a href="https://github.com/Ranjanase22" target="_blank">
              <fa-icon [icon]="faGithub" class="contact-icon fa-github"></fa-icon>
            </a>
        </div>          
          
      </div>
    </div>
  </div>
  