<div class="work-container">
    <h2 class="work-heading">Work Experience</h2>
    <div class="work-experience">
      <div class="job">
        <h3 class="job-title">Full Stack Developer</h3>
        <p class="job-duration">Jan 2020 - Present</p>
        <p class="job-description">
          At XYZ Company, I worked on building dynamic web applications using Angular, Node.js, and other modern technologies. My primary responsibility was to develop user-friendly, responsive interfaces and integrate them with backend APIs. I also collaborated with teams to implement new features and optimize performance.
        </p>
      </div>
    </div>
  </div>
  
  <app-projects></app-projects>