<div class="work-container">
  <h2 class="work-heading">Work Experience</h2>
  <div class="work-experience">
      <div class="job">
          <div class="job-header">
              <img src="assets/images/varcons_logo.jpeg" alt="Varcorns Technology Logo" class="company-logo">
              <div>
                  <h3 class="job-title">Varcorns Technology</h3>
                  <p class="job-duration">Aug 2023 - Sept 2023</p>
              </div>
          </div>
          <p class="job-description">
              At Varcorns Technology, I worked on building dynamic web applications using Angular and other modern technologies. My primary responsibility was to develop user-friendly, responsive interfaces and integrate them with backend APIs. I also collaborated with teams to implement new features and optimize performance.
          </p>
      </div>
  </div>
</div>

<app-projects></app-projects>
